   button:hover{
    transform: scale(1.2);
    }

    h1{
    font-size: 100px;
    color: #1E56A0;
    }

    button, input[type="submit"]{
    margin: 10px;
     min-width: 230px;
     background-color: #1E56A0;
     color: #f6f6f6;
     border-radius: 8px;
       }


    body{
    background-color: 	#f6f6f6;
    }

    table {
  margin: 0 auto;
}


p{
    font-size: 25px;
    color: #1E56A0;
}

input[type="text"] {
    width: 250px;      
    padding: 10px;       
    font-size: 16px;      
    border: 2px solid #1E56A0;
    border-radius: 8px;    
    outline: none;        
  }

  input[type="password"] {
    width: 250px;          
    padding: 10px;        
    font-size: 16px;       
    border: 2px solid #1E56A0 ;
    border-radius: 8px;    
    outline: none;         
  }

  

 