table {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
}

th {
  background: #e0e7ff; 
  color: #333;
  font-weight: 600;
  padding: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

th[colspan="3"] {
  background: #1E56A0; 
}

h2 {
    color: #fff;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
}